.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}
body{
  background-image: url('https://images.pexels.com/photos/374870/pexels-photo-374870.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: 1400px 700px;
}
